@media screen and (max-width: 767px) {
  header {
    height: 8vh;
    img {
      height: 30%;
    }
  }
  body {
    width: 102vw;
  }
  .third-section {
    flex-direction: column;
    align-items: center;
    div:first-child {
      margin-bottom: 15px;
    }
  }
  .pale {
    margin-block: 100px;
    padding-block: 30px;
  }
  .section {
    flex-direction: column-reverse;
    div {
      width: 100%;
      text-align: center !important;
      &.text {
        margin-top: 50px;
        p:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
  .forth-section {
    &::before {
      background-image: url("../images/bg-section-top-mobile-1.svg");
    }
    &::after {
      background-image: url("../images/bg-section-bottom-mobile-1.svg");
    }
  }
  .six-section {
    margin-top: 170px;
    &::before {
      background-image: url("../images/bg-section-top-mobile-2.svg");
    }
    &::after {
      background-image: url("../images/bg-section-bottom-mobile-2.svg");
    }
  }
  footer {
    flex-direction: column-reverse;
    padding: 30px 25px 30px;
    height: max-content;
    &::before {
      background-image: url("../images/bg-footer-top-mobile.svg");
    }
    p {
      width: 100%;
    }
    > * {
      width: 100%;
    }
    section {
      div {
        width: 100%;
      }
      > div:last-child {
        margin-top: 20px;
      }
    }
    aside {
      margin-bottom: 30px;
      div {
        grid-template-columns: 50% 50%;
        grid-template-rows: 30px 30px;
        grid-gap: 15px;
        input {
          grid-area: 1 / 1 / 2 / 3;
          width: 90%;
        }
        .btn {
          grid-area: 2 / 2 / 3 / 3;
          margin-inline: auto 20%;
        }
      }
    }
  }
}
